<% layout('layouts/boilerplate') %>

<style>
    a {
        color: #D500F9;
    }

    .input-container {
        display: flex;
    }

    ::placeholder {
        color: #757575;
        opacity: 1;
    }

    .search-input {
        background: #EEEEEE;
        color: #212121;
        vertical-align: middle;
        font-size: 16px;
        line-height: 2;
        padding: 10px 20px;
        border: 0;
        outline: none;
    }

    .search-submit {
        background: #D500F9;
        color: #FFFFFF;
        vertical-align: middle;
        padding: 0 20px;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    .search-submit:hover {
        background: #AB47BC;
    }

    .search-submit i {
        font-size: 24px;
    }
</style>


<div class="row align-items-center justify-content-center">
    <div class="col-6 align-items-center justify-content-center">

        <a href="https://www.tkqlhce.com/click-101224178-10754877" target="_top">
            <img src="https://www.ftjcfx.com/image-101224178-10754877" width="160" height="600"
                alt="Generate Instant Publicity. Get Your News to Consu" border="0" /></a>
        <script type="text/javascript" language="javascript"
            src="https://www.kqzyfj.com/placeholder-55146398?target=_top&mouseover=N"></script>
    </div>
    <div class="col-6 align-items-center justify-content-center">
        <form role="search" method="get" action="/cj/linksearch">
            <div class="input-container">
                <input type="search" class="search-input" value="" name="keywords" placeholder="Search for links" />
                <button type="submit" class="search-submit"><i class="material-icons">Search
                        Links</i></button>
            </div><!-- input-container -->
        </form><!-- searchform -->
    </div>
</div>