<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/ionicons.min.css">
<link rel="stylesheet" href="/css/style.css">



<div class="col-md-3 mb-3">
    <a href="/users" type="button" class="btn btn-primary w-100 align-items-stretch d-flex">
        <div class="text text-left py-2 pl-3">
            <h4><%=snowUsers%></h4>
            <span>Users</span>
        </div>
        <div class="icon icon-right d-flex align-items-center justify-content-center">
            <i class="ion-ios-people"></i>
        </div>
    </a>

</div>


<div class="col-md-3 mb-3">
    <a href="/audit_logs" type="button" class="btn btn-tertiary w-100 align-items-stretch d-flex">
        <div class="text text-left py-2 pl-3">
            <h4><%=auditLogs%></h4>
            <span>Audit Logs</span>
        </div>
        <div class="icon icon-right d-flex align-items-center justify-content-center">
            <i class="ion-ios-pulse"></i>
        </div>
    </a>
</div>


<div class="col-md-3 mb-3">
    <a href="/tickets" type="button" class="btn btn-secondary w-100 align-items-stretch d-flex">
        <div class="text text-left py-2 pl-3">
            <h4>343</h4>
            <span>Support Tickets</span>
        </div>
        <div class="icon icon-right d-flex align-items-center justify-content-center">
            <i class="ion-ios-pricetag"></i>
        </div>
    </a>
</div>