<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/ionicons.min.css">
<link rel="stylesheet" href="/css/style.css">

<div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex">
        <div class="text text-left py-2 pl-3">
            <h4><%=snowUsers%></h4>
            <span>Users</span>
        </div>
        <div class="icon icon-right d-flex align-items-center justify-content-center">
            <i class="ion-ios-people"></i>
        </div>
    </button>
</div>